<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
 <head th:replace="plantilla :: head"></head>

<body>
 <header th:replace="plantilla :: header"></header> 
	<!-- tabla-->
	<div class="container">
	<br>
	<h2 align="center">Gestión de Multas</h2>
	<div class="container mt-4 ">
	<h1></h1>
	<div class="container">
		<div class="row"> 
			<div class="col-lg-12">
			<table class="table display nowrap" id="example" cellspacing="0" width="100%">
		 	<thead class="table-dark">
			 <tr>
				 <th>ID MULTA</th>
				 <th data-priority="1">DESCRIPCIÓN</th>
				 <th>FECHA</th>
				 <th>VALOR</th>
			 </tr>
		 	</thead> 
			  <tbody>
				   <tr th:each="multa:${multa}">
					  <td th:text="${multa.idM}"></td>
					  <td th:text="${multa.descripcion}"></td>
					  <td th:text="${multa.fecha}"></td>
					  <td th:text="${multa.valor}"></td>				  
				  </tr>
			  </tbody>
		</table>
			</div>
		</div>
	</div>
	</div>	
	</div>
     <script src="/paginacion.js"></script>
</body>
 </html>